# Copy this file to .env.local before deploy.

SERVER_ADDRESS=
SERVER_PORT=443

REALITY_DEST=www.microsoft.com:443
REALITY_SERVER_NAME=www.microsoft.com
CLIENT_FINGERPRINT=chrome

UUID=
REALITY_PRIVATE_KEY=
REALITY_PUBLIC_KEY=
REALITY_SHORT_ID=

XRAY_LOGLEVEL=warning
